.roomList {
    width: 500px;
    height: 450px;
    /* float: left; */
    border: 1px solid grey;
    flex: 1;
    font-size: 24px;
}

.buddyList {
    width: 500px;
    height: 450px;
    /* float: left; */
    border: 1px solid grey;
    flex: 1;
    font-size: 24px;

}


.buddyListModal {
    width: 40%;
    float: left;
    font-size: 20px;
    padding-left: 50px;
    border: 1px solid grey;
    

}

.chatModal {
    width: 80%;
    float: left;
    font-size: 20px;
    padding-right: 10px;
    border: 1px solid grey;
    text-align: center;
}

.container {
    display: flex;
    
}

.parentContainer {
    padding-left: 100px;
    padding-top: 50px;
}
